<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ApartYonetim.Properties.Settings.AYSConnectionString"
      connectionString="Data Source=.;Initial Catalog=AYS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=" />
    <add name="localhost_AYSConnection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=AYS" />
  </connectionStrings>
</configuration>